html {
  height: 100%;
  background-color: #ff4081;
}

.main {
  background-color: #fff;
  border: solid 1px #fff;
  margin: 2%;
  padding: 0 5%;
  min-height: 100vh;
  border-radius: 30px;
}

p:not(.content) {
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

h1, h2, h3 {
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

b {
  margin: 0 3px;
}

u {
  text-decoration: none;
  border-bottom: 2px solid #000;
  padding-bottom: 3px;
}

.content {
  border: solid 1px #000;
  border-radius: 5px;
  padding: 20px;
  margin: 30px 0;
  line-height: 35px;
}
.content::selection {
  background: #ff4081;
  color: #fff;
}
u::selection {
  background: #ff4081;
  color: #fff;
}

/* for Firefox */
.content::-moz-selection {
  background: #ff4081;
  color: #fff;
}

u::-moz-selection {
  background: #ff4081;
  color: #fff;
}


Button {
  float: right;
}
.q-area {
  overflow: hidden;
}
hr {
  clear: both;
  margin-top: 10px;
}